<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>hello from flockast</title>
</head>
<body>
<div class="main-block">
    <div class="main-block__bg">
        <div class="canvas"></div>
    </div>
    <div class="main-block__info">
        <div class="main-block__info-center animated fadeInRight">
            <h1>Vlasov<br>Konstantin</h1>
            <p>Hello, World! I'm a web-developer.</p>
            <p>I ❤️ frontend and beauty web apps.</p>
            <p><a href="https://github.com/flockast">GitHub</a>, <a href="https://codepen.io/flockast/">CodePen</a></p>
        </div>
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49424860 = new Ya.Metrika2({
                    id:49424860,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49424860" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
